extends layout

block content
  main.container-fluid
        div(class="row d-flex justify-content-center")
            +standard-card("Om oss","Vilka är vi?")
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad cum fugiat tempora, reiciendis nihil sunt aperiam laudantium natus, facere voluptatum obcaecati quaerat molestias asperiores ab rerum repellat, minima ex magni!