extends layout

mixin standard-card(title, h1)
    div(class="standard-card")
        h2= title
        div(class="line")
            h1= h1
            if block
                block
            else
                p Nu har n책got g책tt fel! Sidan finns inte.

block content
    main.container-fluid
        div(class="row d-flex justify-content-center")
                +standard-card("Aktuellt","V채lkommen till Bildterapihuset")
                    p Hej! V채lkommen,


