nav.navbar#header
    img#logotype(src="/images/Bildterapihuset.svg")
    .menuBigContainer
        a(href="/") Aktuellt
        a(href="/about") Om oss
        a(href="/resources") Resurser och länkar
        a(href="/contact") Kontakt
    div
        img#menuBtn(src="/images/menuBtn.svg")
    div#menu
            a(class="menuitem" href="/") Aktuellt
            a(class="menuitem" href="/about") Om oss
            a(class="menuitem" href="/resources") Resurser och länkar
            a(class="menuitem" href="/contact") Kontakt


        


