nav(class="navbar" id="topbar")
    div(class="col-1 col-9")
        img(src="/images/Bildterapihuset.svg" id="logotype")
    div(id="")
        img(src="/images/menuBtn.svg" id="menuBtn")
div(id="menu")
        a(class="menuitem") Aktuellt
        a(class="menuitem") Om oss
        a(class="menuitem") Resurser och länkar
        a(class="menuitem") Kontakt


        


