nav(class=" row container-fluid")
    div(class="logotype")
    div(class="container menu")
        p(class="menuitems d-inline") Aktuellt
        p(class="d-inline menuitems") Om oss
        p(class="d-inline menuitems") Resurser och länkar
        p(class="d-inline menuitems") Kontakt


