div(class="container")
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
        div()
            img(src="/images/Bildterapihuset.svg" id="logotype")
            div(id="menuBtn")
                img(src="/images/menuBtn.svg" id="menuBtn")
    div(id="menu")
            a(class="menuitem") Aktuellt
            br()
            a(class="menuitem") Om oss
            br()
            a(class="menuitem") Resurser och länkar
            br()
            a(class="menuitem") Kontakt
        


