div(class="standard-card")
    h2 Aktuellt
    div(class="line")
    h1 Välkommen till Bildterapihuset!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, dolor tenetur. Exercitationem maiores, adipisci quod accusantium ab deserunt similique blanditiis, dolore vel rerum ullam iusto, veritatis saepe recusandae error cupiditate.