$colors : (yellow:'#FFFF66',yellowhite:'#FFFFF5',beige:'#EFE9D3',white:'#FFFFFF',drop-shadow:'rgba(0,0,0,0.1');
$standard-padding : '10px';

html {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background-color: map-get($colors, beige);
    overflow-x: hidden;
}
#menuBtn {
    position: relative;
    width: 40px;
    z-index: 1;
}
#menu {
    position: absolute;
    left: 100vw;
    top: 0;
    padding-top: 70px;
    width: 80vw;
    height: 100vh;
    background-color: map-get($colors, yellow);
    transition-duration: 200ms;
    display: block;
    box-shadow: 0 0 10px 0 map-get($colors,drop-shadow);
}
.menuitem {
    display: block;
    margin: 20px;
    font-family: Helvetica;
    font-size: 1.5em;
}
ul {
    list-style-type: none;
}
#logotype {
    height: 60px;
}
h1 {
    padding: $standard-padding;
    margin: 0;
    font-size: 2rem;
}
#topbar {
    background-color: map-get($colors,yellowhite);
    box-shadow: 0 0 10px 0 map-get($colors,drop-shadow);
    margin-bottom: 30px;
}

/* Card css */
.standard-card {
    width: 90vw;
    height: 400px;
    background-color: map-get($colors,white);
    border-width: 0;
}
.line {
    width: 100%;
    height: 5px;
    background-color: map-get($colors,yellow);
}
/* h2 är texten som används högst uppe på ett standard-card. */
h2 {
    margin: 0;
    padding: $standard-padding;
    font-size: 1em;
}
p {
    margin: 0;
    padding: $standard-padding;
}